<section class="blastbeam-benefits">
  <ul>
    <li>🪖 U.S MIL-STD 810H Certified.</li>
    <li>🔨 If you break it, we'll replace it for free.</li>
    <li>🔋 Up to 14 days of battery without charge.</li>
    <li>🤝 Try it Risk-Free for 45 days.</li>
    <li>🇺🇸 350,000+ customers across the U.S.</li>
  </ul>
</section>

<style>
  .blastbeam-benefits {
    margin: 11px 0px -14px 0px;
  }
  .blastbeam-benefits ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .blastbeam-benefits li {
    font-size: 15px;
    font-weight: 700;
    line-height: 180%;
    display: flex;
    align-items: center;
  }

  .blastbeam-benefits li::before {
    content: '';
  }
  @media (min-width: 1000px) {
  .blastbeam-benefits {
    margin: 9px 0px -29px 0px;
  }
}
</style>