<ul class="checkout-testimonial">
  <i>
  <li>"If I wanted all the functions available in these smartwatches, I’d have to wear five from other brands at the same time. Plus, it definitely fits the bill with how affordable they are".</li>
  </i>
  <b>
    <li>✅ Taylor S.</li>
</ul>