
<div class="__instant.iXG5WS8hRAD3lydss">
<div class="igpR0a3VmXEUihIVR guarantee-banner" data-instant-type="container">
  <div class="iMwuYAdPA7CsWfWoN" data-instant-type="container">
    <div class="i1nGViFAUoadFFBQK" data-instant-type="container"></div>
    <div data-instant-type="image" class="iUs9sUuqaJBE9lA9p">
      <img alt="" 
           sizes="(max-width: 1280px) 100vw, 1280px" 
           src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/guarantee-new-Photoroom.png?v=1757021491" 
           width="368" 
           height="230" 
           decoding="async" 
           loading="lazy" 
           fetchpriority="auto" 
           class="instant-image instant-image__main">
    </div>
    <div class="ivTQzXxn4xAqNeKYI" data-instant-type="container">
      <div data-instant-type="text" class="instant-rich-text iJj16QtoKWgxP0B3z">
        <p>get lifetime</p>
        <p>replacements if needed!</p>
      </div>
      <div data-instant-type="text" class="instant-rich-text iGHXrf2bFo8LoL1PI">
        <p>your watch is fully covered,</p>
        <p><strong style="border-bottom: 2px solid #FFC200">no questions asked.</strong></p>
      </div>
    </div>
  </div>
</div>
</div>

<style>
.igpR0a3VmXEUihIVR {
    align-items: flex-start;
    background: transparent;
    border-radius: 5px;
    column-gap: 5px;
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    padding: 10px 6px 10px 0;
    position: relative;
    row-gap: 5px;
    margin-bottom: -10px;
    max-width: 400px;
    width: 100%;
    margin: auto;
}
.iMwuYAdPA7CsWfWoN {
    align-items: center;
    border-radius: 0;
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    padding: 0;
    position: relative;
    gap: 8px;
}
.instant-image.instant-image__main {
    aspect-ratio: inherit;
    border-radius: inherit;
    height: 100%;
    max-height: inherit;
    object-fit: inherit;
    object-position: inherit;
    width: 100%;
    max-width: 105px;
}
.iYVaUQIXkEG8589Nf {
    align-items: flex-start;
    align-self: stretch;
    background: #000;
    column-gap: 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 0;
    position: relative;
    row-gap: 32px;
    width: .6px;
}
.ivTQzXxn4xAqNeKYI {
    align-items: flex-start;
    border-radius: 0;
    column-gap: 2px;
    display: flex;
    min-width: 194px;
    flex-basis: 0%;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: nowrap;
    height: auto;
    justify-content: center;
    padding: 0;
    position: relative;
    row-gap: 2px;
    border-left: 0.6px solid black;
    padding-left: 6px;
}
.iGHXrf2bFo8LoL1PI, .iJj16QtoKWgxP0B3z {
    align-self: stretch;
    color: #000;
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    height: auto;
    justify-content: center;
    line-height: 1.2;
    max-width: 158%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.iGHXrf2bFo8LoL1PI {
    font-size: 12px !important;
}
.iJj16QtoKWgxP0B3z {
    font-size: 14px !important;
    font-weight: 700;
}
.iGHXrf2bFo8LoL1PI {
    font-size: 11px;
}
.iGHXrf2bFo8LoL1PI strong{
    font-weight: 700;
}
.iGHXrf2bFo8LoL1PI, .iJj16QtoKWgxP0B3z {
    align-self: stretch;
    color: #000;
    display: flex
;
    flex-direction: column;
    font-family: Poppins;
    height: auto;
    justify-content: center;
    line-height: 1.2;
    max-width: 158%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.ivTQzXxn4xAqNeKYI p {
    margin: 0px !important;
}

@media (max-width: 500px) {
.igpR0a3VmXEUihIVR {
    margin: 0px auto !important;
    padding: 10px;
    padding-left: 0px;
}
.instant-image.instant-image__main {
    max-width: 100%;
    height: 100%;
    max-height: 90px;
}
    .guarantee-banner {
        margin-top: -11px !important;
        padding-bottom: 5px;
    }
}

@media (min-width: 768px) {
    .guarantee-banner {
        margin: -18px auto -5px auto; 
    }
    .guarantee-banner .iJj16QtoKWgxP0B3z {
        font-size: 16px !important; 
    }
    .guarantee-banner .iGHXrf2bFo8LoL1PI {
        font-size: 14px !important; 
    }
    .iUs9sUuqaJBE9lA9p img {
        max-width: 150px !important;
    }
}

</style>