{% if product.id == 14868462043508 %}
    <img src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/Banner.png?v=1764282073" width="400" height="400" alt="payments" class="desktop" style="width: 100%; margin-top: 20px;">
    <img src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/Banner_2e2c4af5-63f1-4ab5-a144-39032e0ae55e.png?v=1764282083" width="400" height="400" alt="payments" class="mobile" style="width: 100%; margin-top: 15px;">
{% else %}
<div class="payments-badge-pdp">
    <p>Buy now and pay later with interest-free installments:</p>    
        <img src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/payments-badge-pdp_300x.png?v=1760974821" width="100" height="100" alt="payments-badge">
    </div>
{% endif %}

<style>
    .payments-badge-pdp {
        display: flex;
        justify-content: center;
        gap: 4px;
        font-size: 13px !important;
        background: #5433EB0D;
        padding: 10px 5px;
        border-radius: 5px;
        width: 100%;
        margin-top: -12px;
        align-items: center;
        flex-wrap: wrap;
    }
    .payments-badge-pdp p {
        margin: 0px;
        text-align: center;
        line-height: 100%;
    }
    .payments-badge-pdp img {
        width: 100%;
        height: fit-content;
        max-width: 35%;
        margin-top: -3px;
    }
    
    @media (max-width: 1000px) {
        .payments-badge-pdp {
            gap: 8px;
            max-width: unset;
            flex-direction: column;
            margin-top: -7px;
            margin-bottom: -3px;
        }
        .payments-badge-pdp img{
            max-width: 55%;
            margin: 0px auto;
        }
    }
</style>