<div class="video-carousel-pdp">
  <button class="carousel-arrow left" aria-label="Previous">
    <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.797 16.664.648 9.204A1.071 1.071 0 0 1 .375 8.5c0-.195.078-.43.234-.625L7.758.415a.932.932 0 0 1 1.328-.04c.39.352.39.938.039 1.328L2.602 8.5l6.562 6.875a.932.932 0 0 1-.039 1.328.932.932 0 0 1-1.328-.039Z" fill="#090A0B"></path></svg>
  </button>

  <div class="carousel-track">
    <!-- Slide 1 -->
    <div class="carousel-slide">
      <div class="video-wrapper">
        <video class="lazy-video-custom"
          data-src="https://cdn.shopify.com/videos/c/o/v/8a73fdb595824e25a1585d5324095ef2.mp4"
          data-poster="https://videos.gotolstoy.com/public/64d7f53c-8b8b-432c-a435-1e5267466e46/7b17fe61-e1de-4617-a09a-d01ee3cd43a7/7b17fe61-e1de-4617-a09a-d01ee3cd43a7_thumbnail.webp"
          playsinline
          controlsList="nodownload noremoteplayback noplaybackrate nopictureinpicture"
          preload="auto">
        </video>
        <div class="play-button">
          <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M4 3.532c0-1.554 1.696-2.514 3.029-1.715l14.113 8.468c1.294.777 1.294 2.653 0 3.43L7.029 22.183c-1.333.8-3.029-.16-3.029-1.715V3.532Z" fill="#FFFFFF"></path></svg>
        </div>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-slide">
      <div class="video-wrapper">
        <video class="lazy-video-custom"
          data-src="https://cdn.shopify.com/videos/c/o/v/360a1dcfda1146348fab5f95d3daf83d.mp4"
          data-poster="https://videos.gotolstoy.com/public/64d7f53c-8b8b-432c-a435-1e5267466e46/1f8d017e-8e4e-4a27-9cca-e7fa26c38b2b/1f8d017e-8e4e-4a27-9cca-e7fa26c38b2b_thumbnail.webp"
          playsinline
          controlsList="nodownload noremoteplayback noplaybackrate nopictureinpicture"
          preload="auto">
        </video>
        <div class="play-button">
          <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M4 3.532c0-1.554 1.696-2.514 3.029-1.715l14.113 8.468c1.294.777 1.294 2.653 0 3.43L7.029 22.183c-1.333.8-3.029-.16-3.029-1.715V3.532Z" fill="#FFFFFF"></path></svg>
        </div>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-slide">
      <div class="video-wrapper">
        <video class="lazy-video-custom"
          data-src="https://cdn.shopify.com/videos/c/o/v/de8757fef6444d188ddd32d2c3c77042.mp4"
          data-poster="https://videos.gotolstoy.com/public/64d7f53c-8b8b-432c-a435-1e5267466e46/7719c236-55f5-4c59-853d-9a971977d6df/7719c236-55f5-4c59-853d-9a971977d6df_thumbnail.webp"
          playsinline
          controlsList="nodownload noremoteplayback noplaybackrate nopictureinpicture"
          preload="auto">
        </video>
        <div class="play-button">
          <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M4 3.532c0-1.554 1.696-2.514 3.029-1.715l14.113 8.468c1.294.777 1.294 2.653 0 3.43L7.029 22.183c-1.333.8-3.029-.16-3.029-1.715V3.532Z" fill="#FFFFFF"></path></svg>
        </div>
      </div>
    </div>

    <!-- Slide 4 -->
    <div class="carousel-slide">
      <div class="video-wrapper">
        <video class="lazy-video-custom"
          data-src="https://cdn.shopify.com/videos/c/o/v/4cf4d54fb237483e8a45133db24e66ce.mp4"
          data-poster="https://videos.gotolstoy.com/public/64d7f53c-8b8b-432c-a435-1e5267466e46/a283a606-063d-4659-97a4-3e587063db4a/a283a606-063d-4659-97a4-3e587063db4a_thumbnail.webp"
          playsinline
          controlsList="nodownload noremoteplayback noplaybackrate nopictureinpicture"
          preload="auto">
        </video>
        <div class="play-button">
          <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M4 3.532c0-1.554 1.696-2.514 3.029-1.715l14.113 8.468c1.294.777 1.294 2.653 0 3.43L7.029 22.183c-1.333.8-3.029-.16-3.029-1.715V3.532Z" fill="#FFFFFF"></path></svg>
        </div>
      </div>
    </div>

    <!-- Slide 5 -->
    <div class="carousel-slide">
      <div class="video-wrapper">
        <video class="lazy-video-custom"
          data-src="https://cdn.shopify.com/videos/c/o/v/5a4a854c4ce24adcac50d1cc9981343f.mp4"
          data-poster="https://videos.gotolstoy.com/public/64d7f53c-8b8b-432c-a435-1e5267466e46/13619372-d3ad-4d1b-8ceb-d9f7ffd804a8/13619372-d3ad-4d1b-8ceb-d9f7ffd804a8_thumbnail.webp"
          playsinline
          controlsList="nodownload noremoteplayback noplaybackrate nopictureinpicture"
          preload="auto">
        </video>
        <div class="play-button">
          <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M4 3.532c0-1.554 1.696-2.514 3.029-1.715l14.113 8.468c1.294.777 1.294 2.653 0 3.43L7.029 22.183c-1.333.8-3.029-.16-3.029-1.715V3.532Z" fill="#FFFFFF"></path></svg>
        </div>
      </div>
    </div>

    <!-- Slide 6 -->
    <div class="carousel-slide">
      <div class="video-wrapper">
        <video class="lazy-video-custom"
          data-src="https://cdn.shopify.com/videos/c/o/v/f91d629e19704326a40bcfba4573571c.mp4"
          data-poster="https://videos.gotolstoy.com/public/64d7f53c-8b8b-432c-a435-1e5267466e46/5d309e5f-5bca-4c6e-8c97-4241dbbdb210/5d309e5f-5bca-4c6e-8c97-4241dbbdb210_thumbnail.webp"
          playsinline
          controlsList="nodownload noremoteplayback noplaybackrate nopictureinpicture"
          preload="auto">
        </video>
        <div class="play-button">
          <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M4 3.532c0-1.554 1.696-2.514 3.029-1.715l14.113 8.468c1.294.777 1.294 2.653 0 3.43L7.029 22.183c-1.333.8-3.029-.16-3.029-1.715V3.532Z" fill="#FFFFFF"></path></svg>
        </div>
      </div>
    </div>
  </div>

  <button class="carousel-arrow right" aria-label="Next">
    <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.797 16.664.648 9.204A1.071 1.071 0 0 1 .375 8.5c0-.195.078-.43.234-.625L7.758.415a.932.932 0 0 1 1.328-.04c.39.352.39.938.039 1.328L2.602 8.5l6.562 6.875a.932.932 0 0 1-.039 1.328.932.932 0 0 1-1.328-.039Z" fill="#090A0B"></path></svg>
  </button>
</div>

<style>
.video-carousel-pdp {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.video-carousel-pdp .carousel-track {
  display: flex;
  gap: 6px;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: 0px 30px;
   scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge antiguos */
}

.video-carousel-pdp .carousel-slide {
  flex: 0 0 auto;
  width: 200px;
}

.video-carousel-pdp .video-wrapper {
  position: relative;
  aspect-ratio: 9 / 16;
  background: #000;
  border-radius: 2px;
  overflow: hidden;
}
.video-wrapper video::-webkit-media-controls-picture-in-picture-button {
  display: none;
}


.video-carousel-pdp video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.video-carousel-pdp .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px !important;
    padding: 5px 18px;
    padding-top: 10px;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.video-carousel-pdp .carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  color: black;
  cursor: pointer;
  width: 30px;
  height: 30px;
  z-index: 8;
  border-radius: 999px;
}

.video-carousel-pdp .carousel-arrow.left {
  left: 0px;
}

.video-carousel-pdp .carousel-arrow.right {
  right: 0px;
  transform: scaleX(-1);
}

.video-carousel-pdp .carousel-arrow.left svg {
  position: relative;
  right: -5px;
}

.video-carousel-pdp .carousel-arrow.right svg {
  position: relative;
  left: 5px;
}

@media (max-width: 768px) {
  .video-carousel-pdp .carousel-slide {
    width: 150px;
  }
  .video-carousel-pdp .carousel-arrow{
    display: none;
  }
  .video-carousel-pdp .carousel-track {
  margin: 0px;
}
}
</style>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const carousel = document.querySelector(".video-carousel-pdp");
  const track = carousel.querySelector(".carousel-track");
  const leftBtn = carousel.querySelector(".carousel-arrow.left");
  const rightBtn = carousel.querySelector(".carousel-arrow.right");

  leftBtn.addEventListener("click", () => {
    track.scrollBy({ left: -200, behavior: "smooth" });
  });

  rightBtn.addEventListener("click", () => {
    track.scrollBy({ left: 200, behavior: "smooth" });
  });

  carousel.querySelectorAll(".video-wrapper").forEach(wrapper => {
    const video = wrapper.querySelector("video");
    const playBtn = wrapper.querySelector(".play-button");
    video.disablePictureInPicture = true;

    playBtn.addEventListener("click", () => {
      if (video.paused) {
        video.play();
        playBtn.style.display = "none";
        video.setAttribute("controls", "controls"); // Muestra controles
    } else {
        video.pause();
        playBtn.style.display = "block";
        video.removeAttribute("controls", "controls"); // Muestra controles
      }
    });

    video.addEventListener("ended", () => {
      playBtn.style.display = "block";
    });
  });
});
</script>