{% schema %}
{
  "name": "Carbinox Edge 6",
  "presets": [
    {
      "name": "Carbinox Edge 6",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<section class="carbinox-edge-6">
    <div class="carbinox-edge-6__container">
        <div>
            <h2 style="color: #FFC200;">📞 CALL STRAIGHT FROM <br/>YOUR WRIST</h2>
            <p>Built-in speaker and mic. Answer calls without pulling out your phone 
                <br><br>
                Perfect for job sites, tight spaces, or when your hands are covered in grease. 
            </p>
        </div>

        <img 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/image-right-6.webp?v=1764010157"
            alt="Data Carbinox Edge"
        >
    </div>
        <div class="carbinox-edge-6__container" style="flex-direction: row-reverse;">
        <div>
            <h2 style="color: #FFC200;">💬 AI ASSISTANT HANDLES <br/>YOUR TEXTS</h2>
            <p>Voice-command your texts while your hands stay on the job. 
                <br><br>
                No typing.  No fumbling.  Just talk, Ai handles the rest.
            </p>
        </div>

        <img 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/IMAGE_3.webp?v=1764283240"
            alt="Data Carbinox Edge"
        >
    </div>
        <div class="carbinox-edge-6__container">
        <div>
            <h2 style="color: #FFC200;">🔋 15 DAYS. ONE CHARGE. <br/>NO B.S.</h2>
            <p>Charge it once. Forget about it for two weeks.<br>No dead watch mid-shift.
                <br><br>
                 Just reliable power when you need it most. 
            </p>
        </div>

        <img 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/IMAGE_1.webp?v=1764213573"
            alt="Data Carbinox Edge"
            class="desktop lazyload"
            
        >
             <img 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/IMAGE-mobile.webp?v=1764213573"
            alt="Data Carbinox Edge"
            class="mobile lazyload"
        >
    </div>
</section>

<style>
    .carbinox-edge-6 {
        background: #010101;
        padding: 60px 20px;
    }
    .carbinox-edge-6__container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1240px;
        gap: 60px;
        margin: auto;
        margin-bottom: 20px;
    }

    .carbinox-edge-6__container h2 {
        font-size: 40px;
        font-weight: 800;
        color: white;
        text-transform: uppercase;
        line-height: 120%;
        text-align: center;
        margin: 0px;
        margin-bottom: 10px;
    }
    .carbinox-edge-6__container p {
        font-size: 18px;
        color: white;
        font-weight: 600;
        text-align: center;
        line-height: 120%;
    }
    .carbinox-edge-6__container img {
        margin: 0px auto;
        max-width: 581px;
    }
    @media (max-width: 768px) {
    .carbinox-edge-6 {
        padding: 10px 20px 30px;
    }
    .carbinox-edge-6__container {
        flex-direction: column !important;
        gap: 20px;
    }
    .carbinox-edge-6__container h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .carbinox-edge-6__container p {
        font-size: 14px;
    }
    .carbinox-edge-6__container img {
        max-width: 80%;
    }
    }

    @media (min-width: 768px){
        .last-container {
            max-width: 1440px !important;
        }
        .last-container img {
        max-width: 50% !important;
    }
    }
</style>