{% schema %}
{
  "name": "Carbinox Edge 4",
  "presets": [
    {
      "name": "Carbinox Edge 4",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<section class="carbinox-edge-4">
    <div class="carbinox-edge-4__container">
        <div>
            <h2><span style="color: #FFC200;">Carbinox Edge</span><br/>vs The Other Guys</h2>
            <p style="color: #FFC200; font-weight: 700;">Because price only matters when the value isn’t there. 
            </p>
        </div>

        <img 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/Tabla.webp?v=1764213423"
            alt="Data Carbinox Edge"
            class="desktop lazyload"
        >
        <img 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/Tabla-mobile.webp?v=1764213423"
            alt="Data Carbinox Edge"
            class="mobile lazyload"
        >
    </div>

        <div class="carbinox-edge-6__container last-container" style="flex-direction: row-reverse; margin-top: 30px; margin-bottom: 0px;">
        <div style="padding: 0px 20px;">
            <h2>Real Men. Real Jobs.<br/><span style="color: #FFC200;">Real Results.</span></h2>
            <p><span style="color: #FFC200; text-transform: uppercase;">Don't take our word for it — take theirs.</span>
                <br>
                <br>
               <span style="margin-top: 10px;"> We don't sell hype. We sell what holds up. Carbinox Edge has been field-tested by welders, EMTs, truckers, veterans, and outdoorsmen across the country. Every review is earned the hard way: by surviving what most watches can't.</span>
            </p>
        </div>

        <img 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/last-edge-6_750x.webp?v=1764011317"
            alt="Data Carbinox Edge"
        >
    </div>
</section>

<style>
    .carbinox-edge-4 {
        background: #010101;
        padding: 60px 0px 0px;
    }
    .carbinox-edge-4__container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1240px;
        gap: 50px;
        margin: auto;
        padding: 0px 20px;
    }

    .carbinox-edge-4__container h2 {
        font-size: 40px;
        font-weight: 800;
        color: white;
        text-transform: uppercase;
        line-height: 120%;
        text-align: center;
        margin: 0px;
        margin-bottom: 50px;
    }
    .carbinox-edge-4__container p {
        font-size: 24px;
        color: white;
        text-transform: uppercase;
        text-align: center;
        line-height: 120%;
    }
    .carbinox-edge-4__container img {
        margin: 0px auto;
        max-width: 55%;
    }
    @media (max-width: 768px) {
        
    .carbinox-edge-4 {
        padding: 10px 0px 30px;
    }
    .carbinox-edge-4__container {
        flex-direction: column;
        gap: 20px;
    }
    .carbinox-edge-4__container h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .carbinox-edge-4__container p {
        font-size: 16px;
    }
    .carbinox-edge-4__container img {
        max-width: 100%;
    }
        .carbinox-edge-6__container.last-container {
        flex-direction: column-reverse !important;
    }
    .carbinox-edge-6__container.last-container img{
        margin-top: -80px;
    }
    }
</style>