{% schema %}
{
  "name": "Carbinox Edge 3",
  "presets": [
    {
      "name": "Carbinox Edge 3",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<section class="carbinox-edge-3 lazyload" data-bg="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/background-stack.webp?v=1764212378">
    <div class="carbinox-edge-3__container">
        <h2><span style="color: #FFC200;">Smarter. Tougher.</span><br/>Ready for Anything.</h2>
        <p>Carbinox Edge isn't just tough — it's smarter than anything in its class.</p>
    <div class="pro-text" style="color; white;">
        It packs a 1.96" AMOLED screen, dual-band 6-system GPS, barometer, altimeter, compass, 3 dive modes, and 23 sports profiles. That's military-ready capability — on your wrist.<br/> <br/>
        Powered by a pure cobalt 500mAh battery and protected by stainless steel, it lasts longer and hits harder than $400+ watches that tap out under pressure.
    </div>
        <img 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/dATOS_a2a3bb1f-e3c2-4e95-9908-a003a0d508c6_1400x.webp?v=1764617752"
            alt="Data Carbinox Edge"
            class="desktop lazyload"
        >
        <img 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/dATOS_1_27d0dff4-2733-42c5-a542-41dddbc4259c_600x.webp?v=1764617802"
            alt="Data Carbinox Edge"
            class="mobile lazyload"
        >
    </div>
</section>

<style>
    .carbinox-edge-3 {
        /*background: url('https://cdn.shopify.com/s/files/1/0049/0533/6935/files/background-stack.webp?v=1764212378');*/
        background-color: #000;
        padding: 60px 20px;
    }
    .carbinox-edge-3__container {
        max-width: 1240px;
        margin: auto;
    }
    .carbinox-edge-3__container h2 {
        font-size: 45px;
        font-weight: 800;
        color: white;
        text-transform: uppercase;
        line-height: 120%;
        text-align: center;
        margin: 0px;
        margin-bottom: 10px;
    }
    .carbinox-edge-3__container p {
        color: #FFC200;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 120%;
        text-align: center;
        margin: 0px;
        margin-bottom: 10px;
        font-weight: 700;
    }
    .carbinox-edge-3__container .pro-text {
        color: white;
        margin-bottom: 50px;
        max-width: 1140px;
    }
    .carbinox-edge-3__container .sub-text {
        font-weight: 500;
    }
    .carbinox-edge-3__container img {
        margin: 0px;
    }
    @media (max-width: 768px) {
    .carbinox-edge-3 {
        padding: 10px 20px 30px;
    }
    .carbinox-edge-3__container .pro-text {
        margin: 20px 0px;
        font-size: 12px;
    }
    .carbinox-edge-3__container p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .carbinox-edge-3__container .sub-text {
        font-size: 18px;
    }
    .carbinox-edge-3__container h2 {
        font-size: 24px;
    }
    }
</style>