{% schema %}
{
  "name": "Carbinox Edge 1",
  "presets": [
    {
      "name": "Carbinox Edge 1",
      "category": "Custom"
    }
  ]
}
{% endschema %}
<section class="pro-section">
  <div class="pro-section__container">

  <!-- ICON STRIP (una sola imagen, cambia en mobile/desktop) -->
  <div class="pro-icons">
    <h2 style="color: #FFC200;">TRUSTED BY 350,000+ PROFESSIONALS</h2>
    <img 
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/proofesion_1.webp?v=1764283123"
      alt="Trusted by professionals"
      class="pro-icons-img desktop lazyload"
    >
    <img 
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/proofesion_2.webp?v=1764283123"
      alt="Trusted by professionals"
      class="pro-icons-img mobile lazyload"
    >
      
  </div>
      <img class="mobile lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/IMAGE.webp?v=1764211264" alt="Product image" style="margin-bottom: 15px;">

  <div class="second-container">
  <!-- TITLE -->
  <div>

  <div class="pro-title">
    <h2>USED BY MEN WHO DON'T GET DAYS OFF.</h2>
    <p class="pro-subtitle">
      <img alt="USED BY MEN WHO DON'T GET DAYS OFF" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/Modo_de_aislamiento.png?v=1764211519" width="20px" height="20px" style="width: 24px; height: 21px; display: inline-block;" /> TRUSTED IN CONSTRUCTION ZONES, COMBAT ZONES, AND EVERYTHING IN BETWEEN.
    </p>
  </div>

  <!-- TEXT BLOCK -->
    <div class="pro-text">
🇺🇸 Over 350,000 hard-working Americans wear Carbinox because we don't build watches for style points — we build them for impact, sweat, and survival.<br/> <br/>

The Edge isn't just for checking the time. It's for timing your welds, checking your vitals mid-shift, navigating job sites, and staying connected when your hands are too dirty to reach for a phone.<br/> <br/>

From roofing to rescue, from trenches to trailheads — this thing holds up.
    </div>
  </div>
    
    <!-- MAIN PRODUCT IMAGE -->
    <div class="pro-main-img">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/image-desktop-2.webp?v=1764211264" alt="Product image" />
    </div>
  </div>

</div>
</section>

<style>
    .pro-section {
  background: #000;
  color: #fff;
}
.pro-section__container {
    padding: 60px 20px;
  max-width: 1240px;
  margin: 0 auto;
}
/* ICON STRIP IMAGE */
.pro-icons h4, .pro-icons h2{
  font-weight: 800;
  font-size: 34px;
  margin: 0px;
  line-height: 120%;
  margin-bottom: 10px;
}

.pro-icons p{
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  margin: 0px;
  margin-bottom: 20px;
}
.pro-icons span{
  color: #FFC200;
}
.pro-icons {
  text-align: center;
  margin-bottom: 40px;
}

.pro-icons-img {
  width: 100%;
  height: auto;
}

/* TITLE */
.pro-title h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  max-width: 608px;
  margin-bottom: 10px;
}

.pro-title h2 span {
  color: #FFC200; 
  margin: 0px;
}

p.pro-subtitle {
  margin: 0px;
  margin-bottom: 10px !important;
  color: #fff;
  line-height: 120%;
  font-weight: 700;
  text-align: center;
  color: #FFC200;
  font-size: 24px;
}

/* TEXT */
.pro-text {
  max-width: 540px;
  margin: auto;
  line-height: 120%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.pro-text p {
  margin-bottom: 18px;
}

/* PRODUCT IMAGE */
.pro-main-img {
  margin: 40px 0;
}

.pro-main-img img {
  width: 100%;
  border-radius: 10px;
}

/* GALLERY */
.pro-gallery {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
  margin-top: 40px;
}
  .mobile {
    display: none;
  }
  .second-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
/* MOBILE */
@media (max-width: 768px) {
  .pro-section__container {
    padding: 30px 20px;
  }
  .pro-section__container h2 {
    font-size: 20px !important;
  }
  .pro-section__container .pro-subtitle, .pro-section__container .pro-text {
    font-size: 16px !important;
  }

  .second-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .desktop {
  display: none;
  }
  .mobile {
    display: block;
  }
  .pro-icons h4{
    font-size: 24px;
  }
  .pro-icons p{
    font-size: 14px;
  }
  p.pro-subtitle {
    font-size: 20px;
  }
  .pro-title h2 {
    font-size: 30px;
  }

.pro-main-img {
  margin: 20px 0px;
}

  .pro-text {
    max-width: 100%;
  }
}
</style>