{% schema %}
{
  "name": "Carbinox Edge 2",
  "presets": [
    {
      "name": "Carbinox Edge 2",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<section class="carbinox-edge-2">
    <div class="carbinox-edge-2__container">
        <p class="subtitle">The Numbers Don’t Lie.</p>
        <h2  style="color: #FFC200;">Every component, every reason it outworks the rest.</h2>
        <img 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/data-image_1500x.webp?v=1764211264"
            alt="Data Carbinox Edge"
            class="desktop lazyload"
        >
        <img 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/dATOS_1_600x.webp?v=1764211903"
            alt="Data Carbinox Edge"
            class="mobile lazyload"
        >
        <p class="sub-text">Tech that’s made to survive work, not just track workouts.</p>
    </div>
</section>

<style>
    .carbinox-edge-2 {
        background: #010101;
        padding: 60px 20px;
    }
    .carbinox-edge-2__container {
        max-width: 1240px;
        margin: auto;
    }
    .carbinox-edge-2__container .subtitle {
        color: white;
        font-weight: 700;
        letter-spacing: 0.1em;
    }
    .carbinox-edge-2__container h2 {
        font-size: 45px;
        font-weight: 800;
        color: white;
        text-transform: uppercase;
        line-height: 120%;
        text-align: center;
        margin: 0px;
        margin-bottom: 20px;
    }
    .carbinox-edge-2__container p {
        color: #FFC200;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 120%;
        text-align: center;
        margin: 0px;
        letter-spacing: 0.10em;
    }
    .carbinox-edge-2__container .sub-text {
        font-weight: 700;
        color: white;
        margin-top: 15px;
        letter-spacing: 0.1em;
    }
    @media (max-width: 768px) {
    .carbinox-edge-2 {
        padding: 10px 20px 30px;
    }
    .carbinox-edge-2__container p {
        font-size: 14px;
    }
    .carbinox-edge-2__container .sub-text {
        font-size: 16px;
    }
    .carbinox-edge-2__container h2 {
        font-size: 20px;
    }
    .carbinox-edge-2__container img {
        margin-bottom: 20px;
    }
    }
</style>