{% schema %}
{
  "name": "Carbinox Edge 5",
  "presets": [
    {
      "name": "Carbinox Edge 5",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<section class="carbinox-edge-5">
    <div class="carbinox-edge-5__container">

        <img 
            src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/image-left-5.webp?v=1764002236"
            alt="Data Carbinox Edge"
            class="desktop"
        >
        <img 
            src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/left-image-5-mobile.png?v=1764002286"
            alt="Data Carbinox Edge"
            class="mobile"
        >
        <div>
            <h2>Everything You Need. Nothing You Don't.</h2>
            <p>
                When your package arrives, you'll find everything ready to go:
            </p>
            <div style="max-width: fit-content; margin: auto;" class="icon-list-carbinox-edge-5">
                <div class="icon-container">
                    <img src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/Group_97.png?v=1756826165" alt="icon" class="feature-icon" />
                    <p>Carbinox Edge (your new daily warrior) ⌚ </p>
                </div>
                <div class="icon-container">
                    <img src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/Group_97.png?v=1756826165" alt="icon" class="feature-icon" />
                    <p>Silicone strap</p>
                </div>
                <div class="icon-container">
                    <img src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/Group_97.png?v=1756826165" alt="icon" class="feature-icon" />
                    <p>USB charging Cord</p>
                </div>
                <div class="icon-container">
                    <img src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/Group_97.png?v=1756826165" alt="icon" class="feature-icon" />
                    <p>Plastic Screen Cover</p>
                </div>
                <div class="icon-container">
                    <img src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/Group_97.png?v=1756826165" alt="icon" class="feature-icon" />
                    <p>Mystery Gift 🎁</p>
                </div>
                <div class="icon-container">
                    <img src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/Group_97.png?v=1756826165" alt="icon" class="feature-icon" />
                    <p style="color: white; margin: 0px; text-align: left; font-weight: 800;">Lifetime Warranty confirmation</p>
                    <img src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/Guarantee_Badge.png?v=1764008495" alt="icon" class="guarantee-icon-list" />
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .carbinox-edge-5 {
        background: rgba(0, 0, 0, 0.92);
        padding: 60px 20px;
    }
    .carbinox-edge-5__container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1240px;
        gap: 50px;
        margin: auto;
    }

    .carbinox-edge-5__container h2 {
        font-size: 40px;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        line-height: 120%;
        text-align: center;
        margin: 0px;
        margin-bottom: 20px;
    }
    .carbinox-edge-5__container p {
        color: #FFC200;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 120%;
        text-align: center;
        margin: 0px;
        margin-bottom: 20px;
        letter-spacing: 0.10em;
    }
    .carbinox-edge-5__container img {
        margin: 0px auto;
        max-width: 45%;
    }
    .guarantee-icon-list {
        width: 20px;
        object-fit: contain;
        margin: 0px !important;
    }
    .icon-list-carbinox-edge-5 {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .feature-icon {
        margin: 0px !important;
        position: relative;
        bottom: -1px;
    }
    .icon-container {
        display: flex; gap: 4px; margin-bottom: 15px;
    }
    .icon-container p{
    color: white; margin: 0px; text-align: left; font-weight: 600; font-size: 16px;
    }
    @media (max-width: 768px) {
    .icon-container p{
        font-size: 14px !important;
    }
    .carbinox-edge-5 {
        padding: 10px 20px 30px;
    }
    .carbinox-edge-5__container {
        flex-direction: column;
        gap: 20px;
    }
    .carbinox-edge-5__container h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .carbinox-edge-5__container p {
        font-size: 16px;
    }
    .carbinox-edge-5__container img {
        max-width: 100%;
    }
    }
</style>