{% schema %}
{
  "name": "Powerblast 6",
  "presets": [
    {
      "name": "Powerblast 6",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<section class="carbinox-edge-6">
    <div class="carbinox-edge-6__container">
        <div>
            <h2 style="color: #FFC200;">BUILT TO TAKE A BEATING.</h2>
                <p>Wrapped in a rugged carbon-fiber textured ABS shell. This isn’t a plastic toy.</p>
                    <div class="icon-container_custom">
                        <img style="position: relative; bottom: -3px;" src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/Group_97.png?v=1756826165" alt="icon" class="feature-icon" />
                        <p><strong>Drop-Proof Design:</strong> Drop it on concrete? No worries.<br> Engineered to survive the jobsite, not just the office desk.</p>
                    </div>
                    <div class="icon-container_custom">
                        <img style="position: relative; bottom: -3px;" src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/Group_97.png?v=1756826165" alt="icon" class="feature-icon" />
                        <p><strong>Grease & Grime Resistant:</strong> Covered in oil, sawdust, or metal flakes? It won’t flinch. Just wipe it off and keep working.</p>
                    </div>
                    <div class="icon-container_custom">
                        <img style="position: relative; bottom: -3px;" src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/Group_97.png?v=1756826165" alt="icon" class="feature-icon" />
                        <p><strong>Toolbox Ready:</strong> Stop babying your gear. Shove it in your bag with your wrenches and drills. It handles the abuse.</p>
                    </div>
        </div>

        <img 
            src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/powerblast4.webp?v=1771103626"
            alt="Data Carbinox Edge"
        >
    </div>
        <div class="carbinox-edge-6__container" style="flex-direction: row-reverse;">
        <div>
            <h2 style="color: #FFC200;">GOODBYE DARKNESS.<br/>HELLO PRECISION.</h2>
            <p>Raw power is useless if you can't see the dirt or control the blast. The Powerblast Pro gives you both.
            </p>
            <div class="icon-container_custom">
                <img style="position: relative; bottom: -3px;" src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/Group_97.png?v=1756826165" alt="icon" class="feature-icon" />
                <p><strong>Integrated Tactical LED: </strong> Dark engine bay? Under a seat? Inside a PC case? Light it up. Features 3 modes: Spotlight, Strobe, and SOS for emergencies.</p>
            </div>
            <div class="icon-container_custom">
                <img style="position: relative; bottom: -3px;" src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/Group_97.png?v=1756826165" alt="icon" class="feature-icon" />
                <p><strong>4-Speed Gearbox:</strong> Don’t blast sensitive components across the room. Shift instantly from 35,000 RPM (for delicate electronics) up to 130,000 RPM (for heavy shop debris).</p>
            </div>
        </div>

        <img 
            src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/powerblast5.webp?v=1771103625"
            alt="Data Carbinox Edge"
        >
    </div>
</section>

<style>
    .carbinox-edge-6 {
        background: #010101;
        padding: 60px 20px;
    }
    .carbinox-edge-6__container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1240px;
        gap: 60px;
        margin: auto;
        margin-bottom: 20px;
    }

    .carbinox-edge-6__container h2 {
        font-size: 40px;
        font-weight: 800;
        color: white;
        text-transform: uppercase;
        line-height: 120%;
        text-align: center;
        margin: 0px;
        margin-bottom: 10px;
    }
    .carbinox-edge-6__container p {
        font-size: 18px;
        color: white;
        font-weight: 600;
        text-align: center;
        line-height: 120%;
    }
    .carbinox-edge-6__container img {
        margin: 0px auto;
        max-width: 581px;
    }
    @media (max-width: 768px) {
    .carbinox-edge-6 {
        padding: 10px 20px 30px;
    }
    .carbinox-edge-6__container {
        flex-direction: column !important;
        gap: 20px;
    }
    .carbinox-edge-6__container h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .carbinox-edge-6__container p {
        font-size: 14px;
    }
    .carbinox-edge-6__container img {
        max-width: 80%;
    }
    }
    .icon-container_custom {
        display: flex;
        align-items: unset;
        justify-content: flex-start;
        gap: 5px;
    }
    .icon-container_custom p{
        text-align: left;
        font-size: 12px;
        margin: 0px;
        font-weight: 400;
    }
    .icon-container_custom img {
        margin: 0px;
        margin-top: -4px;
    }
    @media (min-width: 768px){
        .icon-container_custom {
            align-items: baseline;
            margin-bottom: 5px;
        }
        .icon-container_custom p{
            font-size: 16px;
            line-height: 150%;
        }
        .last-container {
            max-width: 1440px !important;
        }
        .last-container img {
        max-width: 50% !important;
    }
    }

</style>