{% schema %}
{
  "name": "Powerblast 7",
  "presets": [
    {
      "name": "Powerblast 7",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div class="container__powerblast-7">
    <div class="content__powerblast-7">
        <h4 style="font-weight: 800;">
            REAL MEN. REAL JOBS. <br>
            <span style="color: #FFC200;">REAL RESULTS.</span>
        </h4>
        <p style="color: #FFC200; text-transform: uppercase; font-size: 16px; font-weight: 700;" class="mobile">Don't take our word for it — take theirs.</p>
        <p>
            We don’t sell hype. We build tools that hold up. Powerblast Pro has been field‑tested by welders, mechanics, truckers, detailers, and DIY shop dogs across the country. Every review is earned the hard way: by surviving what canned air and cheap plastic blowers can’t.
        </p>
        <p>
          Men across the U.S. 🇺🇸 trust Carbinox for its durability, reliability, and no‑nonsense performance.
        </p>

        <div class="video-carousel__section-power">

  <div class="carousel-videos-track">
   <!-- Slide 1 -->
    <div class="carousel-slide__section-power">
      <div class="video-wrapper">
        <video
          src="https://cdn.shopify.com/videos/c/o/v/a204f0c4fa1b493bbcb8b167b69b041b.mp4"
          poster="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/portada1.webp?v=1767987294"
          playsinline
          controlsList="nodownload noremoteplayback noplaybackrate nopictureinpicture"
          preload="auto">
        </video>
        <div class="play-button">
          <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M4 3.532c0-1.554 1.696-2.514 3.029-1.715l14.113 8.468c1.294.777 1.294 2.653 0 3.43L7.029 22.183c-1.333.8-3.029-.16-3.029-1.715V3.532Z" fill="#FFFFFF"></path></svg>
        </div>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-slide__section-power">
      <div class="video-wrapper">
        <video
          src="https://cdn.shopify.com/videos/c/o/v/084f39f2ca73413aafcf19a83576dcde.mp4"
          poster="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/portada2.webp?v=1767987294"
          playsinline
          controlsList="nodownload noremoteplayback noplaybackrate nopictureinpicture"
          preload="auto">
        </video>
        <div class="play-button">
          <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M4 3.532c0-1.554 1.696-2.514 3.029-1.715l14.113 8.468c1.294.777 1.294 2.653 0 3.43L7.029 22.183c-1.333.8-3.029-.16-3.029-1.715V3.532Z" fill="#FFFFFF"></path></svg>
        </div>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-slide__section-power">
      <div class="video-wrapper">
        <video
          src="https://cdn.shopify.com/videos/c/o/v/b7773f258a9a4f79bbe0cfc6c24e7b9e.mp4"
          poster="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/portada3.webp?v=1767987294"
          playsinline
          controlsList="nodownload noremoteplayback noplaybackrate nopictureinpicture"
          preload="auto">
        </video>
        <div class="play-button">
          <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M4 3.532c0-1.554 1.696-2.514 3.029-1.715l14.113 8.468c1.294.777 1.294 2.653 0 3.43L7.029 22.183c-1.333.8-3.029-.16-3.029-1.715V3.532Z" fill="#FFFFFF"></path></svg>
        </div>
      </div>
    </div>

    <!-- Slide 4 -->
    <div class="carousel-slide__section-power">
      <div class="video-wrapper">
        <video
          src="https://cdn.shopify.com/videos/c/o/v/b3df49e02bd34624ab888c2b2ce53605.mp4"
          poster="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/portada4.webp?v=1767987294"
          playsinline
          controlsList="nodownload noremoteplayback noplaybackrate nopictureinpicture"
          preload="auto">
        </video>
        <div class="play-button">
          <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M4 3.532c0-1.554 1.696-2.514 3.029-1.715l14.113 8.468c1.294.777 1.294 2.653 0 3.43L7.029 22.183c-1.333.8-3.029-.16-3.029-1.715V3.532Z" fill="#FFFFFF"></path></svg>
        </div>
      </div>
    </div>

    <!-- Slide 5 -->
    <div class="carousel-slide__section-power">
      <div class="video-wrapper">
        <video
          src="https://cdn.shopify.com/videos/c/o/v/6a4cd6c5e68c48ebb019dacabbf97a3a.mp4"
          poster="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/portada5.webp?v=1767987294"
          playsinline
          controlsList="nodownload noremoteplayback noplaybackrate nopictureinpicture"
          preload="auto">
        </video>
        <div class="play-button">
          <svg class="" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M4 3.532c0-1.554 1.696-2.514 3.029-1.715l14.113 8.468c1.294.777 1.294 2.653 0 3.43L7.029 22.183c-1.333.8-3.029-.16-3.029-1.715V3.532Z" fill="#FFFFFF"></path></svg>
        </div>
      </div>
    </div>
  </div>
</div>

    </div>
</div>

<style>
  .container__powerblast-7 {
    background: black;
    padding: 0px 20px;
  }

  .video-carousel__section-power {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.video-carousel__section-power .carousel-videos-track {
  display: flex;
  gap: 6px;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: 0px 30px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge antiguos */
  margin-top: 20px;
  margin-bottom: 30px;
}

.video-carousel__section-power .carousel-slide__section-power {
  flex: 0 0 auto;
  width: 230px;
}

.video-carousel__section-power .video-wrapper {
  position: relative;
  aspect-ratio: 9 / 16;
  background: #000;
  border-radius: 2px;
  overflow: hidden;
}
.video-wrapper video::-webkit-media-controls-picture-in-picture-button {
  display: none;
}

.video-carousel__section-power video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.video-carousel__section-power .play-button svg {
  visibility: hidden;
}
.video-carousel__section-power .play-button {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px !important;
    padding: 5px 18px;
    padding-top: 10px;
    color: transparent;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.video-carousel__section-power .carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  color: black;
  cursor: pointer;
  width: 30px;
  height: 30px;
  z-index: 10;
  border-radius: 999px;
}

.video-carousel__section-power .carousel-arrow.left {
  left: 0px;
}

.video-carousel__section-power .carousel-arrow.right {
  right: 0px;
  transform: scaleX(-1);
}

.video-carousel__section-power .carousel-arrow.left svg {
  position: relative;
  right: -5px;
}

.video-carousel__section-power .carousel-arrow.right svg {
  position: relative;
  left: 5px;
}

.content__powerblast-7 p{
  font-size: 18px;
  text-align: center;
  margin: 0px;
  font-weight: 600;
  line-height: 120%;
}
.content__powerblast-7 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: white;
}
.content__powerblast-7 h4{
  font-size: 40px; 
  line-height: 110%;
  text-align: center;
  margin: 0px;
}
@media (max-width: 1000px) {
.video-carousel__section-power {
max-width: calc(100vw - 48px);
}
}
@media (max-width: 768px) {
  .content__powerblast-7 p{
    font-size: 14px;
  }
  .content__powerblast-7 h4{
    font-size: 24px;
  }
  .video-carousel__section-power .carousel-slide__section-power {
    width: 150px;
  }
  .video-carousel__section-power .carousel-arrow{
    display: none;
  }
  .video-carousel__section-power .carousel-videos-track {
  margin: 0px;
}
}

@media (min-width: 1200px;){
  .video-carousel__section-power {
  display: flex !important;
  justify-content: center !important;
}
}
</style>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const carousel = document.querySelector(".video-carousel__section-power");
  const track = carousel.querySelector(".carousel-videos-track");

  carousel.querySelectorAll(".video-wrapper").forEach(wrapper => {
    const video = wrapper.querySelector("video");
    const playBtn = wrapper.querySelector(".play-button");
    video.disablePictureInPicture = true;

    playBtn.addEventListener("click", () => {
      if (video.paused) {
        video.play();
        playBtn.style.display = "none";
        video.setAttribute("controls", "controls"); // Muestra controles
    } else {
        video.pause();
        playBtn.style.display = "block";
        video.removeAttribute("controls", "controls"); // Muestra controles
      }
    });

    video.addEventListener("ended", () => {
      playBtn.style.display = "block";
    });
  });
});
</script>