{% schema %}
{
  "name": "Powerblast 0",
  "presets": [
    {
      "name": "Powerblast 0",
      "category": "Custom"
    }
  ]
}
{% endschema %}
<section class="pro-section carbinox-edge-0">

<div class="carbinox-edge-0-container second-container">
  <!-- TITLE -->
  <div>

  <div class="pro-title" style="text-transform: uppercase;">
    <h2>💨 130,000 RPM. No Cans, No Cord, Just Raw Power</h2>
    <p class="pro-subtitle" style="text-transform: uppercase;">
       When the job gets filthy, dusty, or full of metal shavings, you don’t reach for a toy. You grab something with muscle.
    </p>
  </div>

  <!-- TEXT BLOCK -->
    <div class="pro-text" style="font-weight: 400;">
        Powerblast Pro pushes air at up to 130,000 RPM, delivering hurricane‑force power that wipes out dust, debris, metal chips, and grease in seconds.
        <span style="font-style: italic;" class="desktop">
        <br/> <br/>
        "This thing moves air like a shop vac in reverse—and fits in your tool bag."
        </span>
    </div>
  </div>
    
    <!-- MAIN PRODUCT IMAGE -->
    <div class="pro-main-img video" style="cursor: pointer;">
    <img src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/powerblast1.webp?v=1771103625" alt="image"/>
    </div>
        <div class="pro-text" style="font-weight: 400;">
        <span style="font-style: italic; font-size: 14px;" class="mobile">
        <br/> <br/>
        "This thing moves air like a shop vac in reverse—and fits in your tool bag."
        </span>
    </div>
  </div>

  </section>


  <script>
  const video = document.querySelector('.pro-main-img.video video');

  // Ocultar controles al cargar la página
  video.controls = false;

  // Al hacer click en el video (poster)
  video.addEventListener('click', () => {
    if (video.paused) {
      video.play();
      video.controls = true; // mostrar controles al reproducirse
    } else {
      video.pause();
    }
  });
document.addEventListener("DOMContentLoaded", () => {
  const video = document.querySelector("video");

  if (!video) return;

  video.setAttribute("controlsList", "nodownload noplaybackrate");

  video.addEventListener("contextmenu", e => e.preventDefault());
});
  // Opcional: cuando termine el video, ocultar controles otra vez
  video.addEventListener('ended', () => {
    video.controls = false;
  });
</script>

<style>
    .pro-section.carbinox-edge-0 {
        padding: 60px 20px;
    }
    .carbinox-edge-0-container {
        max-width: 1240px;
        margin: auto;
    }
    @media (max-width: 768px) {
        .pro-section.carbinox-edge-0 {
            padding: 30px 15px 15px;
        }
         .carbinox-edge-0-container h2 {
            font-size: 20px !important;
        }
        .carbinox-edge-0-container .pro-text, .carbinox-edge-0-container .pro-subtitle{
            font-size: 14px;
        }
        .carbinox-edge-0-container {
        gap: 20px !important;
    }
    }
</style>