{% schema %}
{
  "name": "Powerblast 4",
  "presets": [
    {
      "name": "Powerblast 4",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<section class="carbinox-edge-4">
    <div class="carbinox-edge-4__container">
        <div>
            <h2><span style="color: #FFC200;">POWERBLAST PRO VS.</span><br/>The Other Guys</h2>
            <p style="color: white; letter-spacing: 0.1em; font-weight: 700;">BECAUSE BUYING AIR IN A CAN IS LIKE THROWING MONEY IN THE TRASH.
            </p>
        </div>

        <img 
            src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/TablaDesk.webp?v=1767987285"
            alt="Data Carbinox Edge"
            class="desktop"
        >
        <img 
            src="https://cdn.shopify.com/s/files/1/0049/0533/6935/files/TablaMobile.webp?v=1767987285"
            alt="Data Carbinox Edge"
            class="mobile"
        >
    </div>
</section>

<style>
    .carbinox-edge-4 {
        background: #010101;
        padding: 60px 0px 0px;
    }
    .carbinox-edge-4__container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1240px;
        gap: 50px;
        margin: auto;
        padding: 0px 20px;
    }

    .carbinox-edge-4__container h2 {
        font-size: 40px;
        font-weight: 800;
        color: white;
        text-transform: uppercase;
        line-height: 120%;
        text-align: center;
        margin: 0px;
        margin-bottom: 50px;
    }
    .carbinox-edge-4__container p {
        font-size: 24px;
        color: white;
        text-transform: uppercase;
        text-align: center;
        line-height: 120%;
    }
    .carbinox-edge-4__container img {
        margin: 0px auto;
        max-width: 55%;
    }
    @media (max-width: 768px) {
        
    .carbinox-edge-4 {
        padding: 10px 0px 30px;
    }
    .carbinox-edge-4__container {
        flex-direction: column;
        gap: 20px;
    }
    .carbinox-edge-4__container h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .carbinox-edge-4__container p {
        font-size: 16px;
    }
    .carbinox-edge-4__container img {
        max-width: 100%;
    }
        .carbinox-edge-6__container.last-container {
        flex-direction: column-reverse !important;
    }
    .carbinox-edge-6__container.last-container img{
        margin-top: -80px;
    }
    }
</style>