@font-face {
    font-family: 'Cooper-Hewitt';
    font-style: normal;
    font-weight: normal;
    src: url('https://cdn.shopify.com/s/files/1/0049/0533/6935/files/CooperHewitt-Book.woff?v=1660314474') format('woff');
  }
  
  .sold_out_input {
    display: flex;
    justify-content: space-between;
    column-gap: 7px;
}

.product_sold_input {
    border: 1px solid #7A7A7A;
    max-width: 75%;
    width: 100%;
    padding: 0 17px;
}

button.sold_out_btn {
    width: 25%;
    /* max-width: 77px; */
    background: #000;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    font-family: 'Inter';
}
.delivery-time {
    font-size: 14px;
    line-height: 16px;
    color: #4B4B4B;
    text-align: center;
    margin-top: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.product-form__payment-container {
    margin-top: 0;
}

span.rating__caption {
    font-weight: 500;
}
.minicart-taxe {
    font-size: 11px;
    line-height: 14px;
    color: #565656;
    text-align: center;
    margin-bottom: 5px;
}

.testimonial {
    display: flex;
    column-gap: 8px;
}

img.stars_icon {}

blockquote.testimonial__content.blockquote::before {
    display: none;
}

blockquote.testimonial__content.blockquote {
    font-family: 'Cooper Hewitt';
    font-style: normal;
    font-weight: 700;
    /* font-size: 14px; */
    font-size: 25px;
    /* line-height: 18px; */
    color: #000000;
    padding-left: 0;
    margin-top: 0;
    padding-top: 0;
}

split-lines {}

p.testimonial__author {
    padding: 0;
    padding-left: 0;
    margin: 0;
}

.testi-author {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size:18px
}
span.testi-verified {
    display: flex;
}
img.verifeid {
    display: inline;
    align-items: center;
    width: 23px;
    margin-left: 20px;
}

p.testi_position {
    padding: 0;
    margin: 0;
}
span.verified-text {
    color: #4DCB56;
}
span#review_top {
    /* background: red; */
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    top: -180px;
}

.product-reviews {
    position: relative;
}
img.stars_icon {
    max-width: 150px;
}
span.save-price {
    width: 97px;
    height: 18.91px;
    background: #EB6A33;
    border-radius: 10px;
    display: flex;
    font-weight: 700;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    text-transform: uppercase;
}

span.save-price>span {
    margin-left: 2px;
}



  .text--size {
    font-size: 13px;
    line-height: 13px;
    color: #000;
    font-family: Cooper-Hewitt;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
    opacity: 0.7;
}

/* .testimonial__content  span{
    display: block;
} */

.testimonial-image{
    width: 25%;
}
.testimonial-contents{
    width: 75%;
    margin: auto 0;
}

[dir=ltr] .blockquote:not(.blockquote--center):before, [dir=ltr] .rte blockquote:not(.blockquote--center):before{
    display: none;
}

[dir=ltr] .blockquote, [dir=ltr] .rte blockquote{
    padding-left: 0;
}

.image-text-wrap {
    margin: auto;
    display: flex;
    justify-content: space-between;
    column-gap: 73px;
    margin-left: calc(var(--grid-column-width) + var(--grid-gap));
    margin-right: calc(var(--grid-column-width) + var(--grid-gap));
}

.image-text-media {
    max-width: 432px;
    width: 50%;
}

.image-text-contents {
    width: 55%;
}

h3.image-text-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 16px;
}

.image-text-content {
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 63px;
    width: 100%;
    max-width: 489px;
}

.single-review {
    background: #000000;
    padding-top: 17px;
    padding-bottom: 48px;
    position: relative;
    z-index: 0;
    margin-top: -47px;
}

p.single-review-text {
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    width: 100%;
    max-width: 410px;
    margin-bottom: 10px;
    margin-top: 0;
}

.single-review-meta {
    display: flex;
    align-items: center;
}

h5.single-review-name {
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.single-review-verified {
    font-size: 9.7px;
    line-height: 13px;
    color: #4DCB56;
}

.single-review-verified img {
    width: 14px;
}

.single-review-content {
    margin: auto;
    margin-left: calc(var(--grid-column-width) + var(--grid-gap));
    margin-right: calc(var(--grid-column-width) + var(--grid-gap));
}

img.image-text-img {
    height: 502px;
    width: auto;
    object-fit: cover;
    position: relative;
    z-index: 1;
}
.image-text-content.mobile {
    display: none;
}

.image-text {
    margin-top: 80px;
}
.image-text-area {
/*     visibility: hidden; */
/*     height: 0; */
}
span.rating__caption {
    font-weight: bold;
}
p.testimonial__author.testi-verified {
    display: flex;
}
.collectio-top {
    position: relative;
    height: 185px;
}

img.collection-top-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.collection-text {
    position: absolute;
    top: 50%;
    color: #fff;
    text-align: center;
    justify-content: center;
    width: 100%;
    transform: translateY(-50%);
}

h1.collection-top-title {
    max-width: 800px;
    margin: auto;
    color:#fff;
    font-family: 'Cooper Hewitt';
}
.featured {
    background: #F6F6F6;
    padding-top: 39px;
    padding-bottom: 54px;
}

.featured-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.featured-img {
    max-width: 240px;
    width: 100%;
}

h3.featured-title {
    text-align: center;
    font-size: 48px;
    line-height: 43px;
    color: rgb(var(--heading-color));
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
}
span.Bestseller {
    position: absolute;
    right: 0;
    top: 0;
    background: #EB6A33;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 18px;
    font-weight: 711;
    font-size: 12.75px;
    line-height: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 2px;
    letter-spacing: 0.4px;
}
span.trending-now, span.back-in-stock {
    height: 27.87px;
    background: #EBB732;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 0 17px;
    font-size: 12.75px;
    line-height: 16px;
    color: #FFFFFF;
    align-items: center;
    text-transform: uppercase;
    padding-top: 2px;
    font-weight: 711;
    justify-content:center;
    letter-spacing: 0.4px;
}
span.back-in-stock {
    background: #4DCB56;
}
.old-collection {
    /* display: none; */
}
section.main-collections {
    background: #fff;
}

section.main-collections .product-facet__aside {
    background: #f9f9f9;
    padding: 24px;
    margin-right: 35px;
    margin-top: 23px;
}

section.main-collections .product-facet__meta-bar {
    /* display: none; */
}

section.main-collections product-facet.product-facet {
    margin-top: 0;
    padding-bottom: 23px;
    margin-bottom: 0;
}
.main-collections .product-item {
    display: none;
}
h3.card-title {
    font-weight: 711;
    font-size: 25.0868px;
    line-height: 33px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 0;
}
section.main-collections .product-list__inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}
.card-review {
    margin-bottom: 6px;
}

.card-review span.jdgm-prev-badge__text {
    font-size: 11.2891px;
    line-height: 122.5%;
    color: #000000;
}

.card-review .jdgm-preview-badge .jdgm-star.jdgm-star {
    font-size: 12px;
}

.jdgm-star.jdgm--on:before {
    width: 11px;
}

span.card-regular-price {
    font-weight: 711;
    font-size: 18.8151px;
    line-height: 24px;
    color: #000000;
    margin-right: 8px;
}

del.card-compare-price {
    font-weight: 707;
    font-size: 15.0521px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: #7D7D7D;
}

.card-prices {
    margin-bottom: 12px;
}

.product-card-wrap {
    display: flex;
}

img.card-img {
    max-width: 176px;
}

a.card-link {
    display: block;
}

.card-description p {
    font-weight: 500;
    font-size: 15.0521px;
    line-height: 122.5%;
    color: #000000;
}
a.card-product-link {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.card-list ul {
    display: grid;
    padding-left: 12px;
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
.card-description {
    margin-bottom: 15px;
}
.card-list ul li {
    font-size: 12px;
    line-height: 122.5%;
    color: #000000;
    margin-bottom: 12px;
}

a.card-btn {
    background: #000000;
    border-radius: 22.5781px;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 199px;
    font-weight: 711;
    font-size: 13.7977px;
    line-height: 0;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-transform: uppercase;
}

.card-list {
    background: #FFFFFF;
    border-radius: 10.0347px;
    padding: 11px;
    margin-bottom: 13px;
}
.product-card {
    background: #F9F9F9;
    padding: 23px 16px 19px 30px;
    position: relative;
    display: none;
}
.main-collections .product-card {
    display: block;
}
section.new-collection product-facet.product-facet {
    margin-top: 0;
    padding-top: 23px;
    padding-bottom: 23px;
    margin-bottom: 0;
}

section.new-collection .product-facet__aside {
    background: #F9F9F9;
    padding: 25px;
    margin-right: 34px;
}

section.new-collection .product-facet__meta-bar.anchor {
    display: none;
}

section.new-collection .product-facet__product-list {
    margin-top: 0;
}

section.new-collection {
    background: #fff;
}

section.new-collection .product-list__inner {
    gap: 18px;
    grid-template-columns: repeat(2, 1fr);
}
section.main-collections .product-facet__meta-bar.anchor {
    display: none;
}
.shipping_polices_par p { 
    line-height: 108%;
    max-width: 117px;
    margin: auto;
    margin-top: 8px;
}
.minicart-taxe {
    display: none;
}
.shipping_polices_par {
    /* width: 100%; */
    column-gap: 10px;
}
.mini-cart-social {
    margin-bottom: 12px;
}

/* new product image  */
img.thumb-media-img {
    display: block;
    width: 68px;
    height: 68px;
    cursor: pointer;
    border: 2px solid #f9f9f9;
}
.thumb-media-item.slick-slide.slick-current.slick-active img {
    border: 2px solid;
}
.product-media {
    position: relative;
}
.thumb-media-item {
    /* margin-right: 4px; */
}
.new_product_media product-media.product__media {
    display: none;
}
.ab-test{
    position: relative;
}

.ab-test > .product-media {
    opacity: 0;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
}

.ab-test.new_product_media .product-media {
    opacity: 1;
    position: relative;
    z-index: 1;
}
.new-media-not-applicable product-media.product__media {
    display: block;
}
.product-media-second.hide {
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 100ms;
    width: 100%;
  z-index: -1;
}
.product-media-second.show {
    position: relative;
    top: 0;
    opacity: 1;
    visibility: visible;
}
.product-media-first.hide {
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 100ms;
}
.thumb-media .slick-track {
    margin-left: inherit;
    /* transform: none !important; */
}



.product-media-buttons {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 90%;
    align-items: center;
}

button.button-right.next-btn,
button.button-left.prev-btn,
button.button-right.next-btn2,
button.button-left.prev-btn2{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    background: #0000ff00;
    height: 100%;
    align-items: center;
    transition:300ms;
}

button.button-left.prev-btn2,
button.button-left.prev-btn {
    cursor: url('back.png'), auto;
}
button.button-right.next-btn2,
button.button-right.next-btn {
    cursor: url('next.png'), auto;
}

button.button-left.prev-btn2 svg, button.button-left.prev-btn svg,
button.button-right.next-btn2 svg, button.button-right.next-btn svg  {
    display: none;
}
.thumb-media-item.slick-current img{
    border: 2px solid #000;
}

.template-index .product-media,
.template-page .product-media{
    display: none !important;
}


@media only screen and (min-width:1400px) {
    .single-review-content,
    .image-text-wrap  {
        padding-left: 36px;
    }
}
@media only screen and (min-width:767px) {
    
    div#image-text_1 {
        display: block;
    }
    
    .image-text-image {
        display: none;
    }
    button.slide-arrow.prev-arrow.slick-arrow,
    button.slide-arrow.next-arrow.slick-arrow{
        display: none !important;
    }
}
@media only screen and (max-width:767px) {
    button.button-left.prev-btn2 svg, button.button-left.prev-btn svg,
    button.button-right.next-btn2 svg, button.button-right.next-btn svg  {
        display: block;
    }
    
    button.button-right.next-btn,
    button.button-right.next-btn2{
        justify-content: right;

    }
    .product-media-buttons {
        height: auto;
        bottom: 0;
        top: auto;
        justify-content: space-between;
    }
    
    button.button-left.prev-btn,
    button.button-left.prev-btn2 {
        opacity: 1;
        justify-content: left;
        visibility: visible;
    }
    
    button.button-right.next-btn,
    button.button-left.next-btn2 {
        visibility: visible;
        justify-content: right;
        opacity: 1;
    }
    
    .featured-media-item {
        margin-bottom: 32px;
    }
    img.featured-media-img {
        width: 100%;
        display: block;
/*         max-width: 255px; */
        margin: auto;
    }
    .thumb-media {
        display: none;
    }
    .shipping_polices_par {
        width: 100%;
    }
    
    .shipping_polices_par img {
        width: 42px;
        height: 42px;
    }
    
    .shipping_polices_par p {
        font-size: 10px;
        line-height: 11px;
        margin-top: 5px;
    }
    section.main-collections .product-facet__aside {
        margin-top: 0;
        padding: 0;
    }

    section.main-collections span.product-facet__meta-bar-item.product-facet__meta-bar-item--count {
        display: none;
    }
    
    section.main-collections .product-facet__meta-bar.anchor {
        margin-bottom: 0;
    }
    section.main-collections .product-facet__meta-bar.anchor {
        display: flex;
    }
    section.main-collections {
        padding-top: 12px;
    }
    
    product-list.product-facet__product-list.product-list {
        margin-top: 0;
    }
    section.main-collections .product-list__inner {
        gap: 16px;
        grid-template-columns: repeat(1,1fr);
    }
    section.main-collections product-facet.product-facet {
        margin-bottom: 0;
        padding-bottom: 12px;
    }
    img.card-img {
        max-width: 140px;
    }
    
    .product-card {
        padding: 18px 13px 15px 24px;
    }
    
    section.new-collection .product-facet__aside {
        display: none;
    }
    
    h3.card-title {
        font-size: 20px;
        line-height: 26px;
    }
    
    .card-review span.jdgm-prev-badge__text {
        font-size: 9px;
    }
    
    .card-review .jdgm-preview-badge .jdgm-star.jdgm-star {
        font-size: 10px;
    }
    
    span.card-regular-price {
        font-size: 15px;
        line-height: 19px;
    }
    
    del.card-compare-price {
        font-size: 12px;
        line-height: 16px;
    }
    
    .card-prices {
        margin-bottom: 6px;
    }
    
    .card-description p {
        font-size: 14px;
        line-height: 122.5%;
    }
    
    .card-description {
        margin-bottom: 9px;
    }
    
    .card-list ul li {
        font-size: 11px;
        margin-bottom: 10px;
    }
    
    .card-list {
        padding: 9px;
        padding-bottom: 0;
        margin-bottom: 10px;
    }
    
    .card-list ul {
        padding-left: 10px;
        column-gap: 12px;
    }
    
    a.card-btn {
        height: 24px;
        max-width: 159px;
        font-size: 11px;
        letter-spacing: 0.06em;
    }
    
    section.new-collection .product-list__inner {
        gap: 16px;
        grid-template-columns: repeat(1, 1fr);
    }
    .featured-items {
        flex-wrap: wrap;
        gap: 15px;
    }
    
    .featured-item {
        display: flex;
        text-align: center;
        width: 50%;
        flex: 0 47%;
        align-items: center;
        justify-content: center;
    }
    
    img.featured-img {
        max-width: 120px;
    }
    
    h3.featured-title {
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 23px;
    }
    p.testimonial__author.testimonial-author,
    p.testimonial__author.testi-verified{
        font-weight: 500;
    }
    .image-text {
        margin-top: 40px;
    }
    
    .testimonial-contents {
        margin: inherit;
    }
    button.slide-arrow.next-arrow.slick-arrow {
        position: absolute;
        right: 22px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    button.slide-arrow.prev-arrow.slick-arrow {
        position: absolute;
        left: 0;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
    }
    
    button.slide-arrow.prev-arrow.slick-arrow.slick-disabled,
    button.slide-arrow.next-arrow.slick-arrow.slick-disabled{
        opacity: 0;
    }
    
    .image-text-wrap {
        display: block;
        margin: 0;
        margin-right: -24px;
    }
    .single-review-content {
        margin: 0;
    }
    .image-text-contents {
        width: 100%;
        padding-right: 24px;
    }
    
    .image-text-media {
        width: 100%;
    }
    
    .image-text-content.desk {
        display: none;
    }
    
    h3.image-text-title {
        font-weight: 700;
        font-size: 26px;
        line-height: 34px;
        color: #000000;
        margin-bottom: 27px;
    }
    
    img.image-text-img {
        height: 321px;
    }
    
    .image-text-images {
        margin-bottom: 21px;
    }
    
    .image-text-content.mobile {
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 42px;
        padding-right: 18px;
    }
    
    .single-review {
        margin-top: 0;
    }
    
    p.single-review-text {
        font-size: 13px;
        line-height: 17px;
    }
    
    h5.single-review-name {
        font-size: 11px;
        line-height: 14px;
    }
    .image-text-images .slick-list.draggable {
        padding-right: 50px;
    }
    
    .image-text-image {
        margin-right: 22px;
    }
    span#review_top {
        top: -50px;
    }
    img.text-with-icons__custom-icon {
        width: 80px;
        height: 80px;
        object-fit: contain;
    }
    .text-with-icons__list {
        /* column-gap: 10px; */
        column-gap: 1px;
        margin: auto;
        justify-content: space-between;
    }
    #index .text-with-icons__item {
        padding: 0;
        width: 33%;
    }
    
    .container.vertical-breather {
        padding: 30px 15px;
    }
    
    .text-with-icons__content-wrapper {
        font-size: 10px;
    }
    .dots-nav--centered {
        display: none;
    }
    img.testimonial_img {
        max-width: 104px;
    }
    
    .testimonial {
        column-gap: 34px;
    }

    .testimonial__content{
        font-size: 14px;
        padding: 0;
    }
    
    img.stars_icon {
        max-width: 115px;
    }
    
    blockquote.testimonial__content.blockquote {
        font-weight: 700;
        line-height: 18px;
        font-size: 14px;
    }
    .testi-author {
        /* font-weight: 700; */
        font-size: 11px;
        line-height: 13px;
        color: #000000;
        margin-bottom:10px
    }

    .testimonial-list__nav {
        margin-top: 15px;
    }
    
    img.verifeid {
        width: 12px;
        margin-bottom:1px
    }
    
    p.testi_position {
        /* font-weight: 700; */
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        display:none
    }
    .collection-breadcrumbs {
        margin-top: 16px;
    }
    product-item.product-item span.rating__caption {
        /* font-weight: 400; */
        /* font-size: 11px; */
    }
    
    product-item.product-item .product-item-meta__reviews-badge {
        margin-bottom: 7px;
    }
    button.sold_out_btn {
        width: 26%;
    }
    
    .product_sold_input {
        width: 74%;
    }

.text--size{
    font-size: 10px;
    line-height: 13px;
    color: #000000;
    font-family: 'Cooper-Hewitt';
    font-weight: 703;
    display: block;
    opacity: 0.7;
  }
  .price-right-m{
    margin-right: 6px !important;
  }

  .image-text-content.mobile {
      display: block;
  }
    native-carousel-item#block-template--14587939946599__166145257050f4054e-16614525700cbef662-0 {
      width: 100%;
  }
  .product__media {
    width: 100%;
}
.product-media .slick-slide {
    max-width: 360px;
}
.ab-test{
    width: 100%;
}

  
}

@media only screen and (max-width:375px) {
    span.rating__caption {
        font-size: 12px;
    }
  .testi-author, p.testi_position {
      font-size: 10px;
      line-height: 15px;
  }
  .product-card-top {
        margin-top: 10px;
    }
    
}









